<mat-card>
  <mat-card-header>Login</mat-card-header>
  <mat-card-content>
    <form #form="ngForm">
      <mat-form-field>
        <mat-label>
          Username:
        </mat-label>
        <input id="username" name="username" matInput type="text" ngModel required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>
          Password:
        </mat-label>
        <input id="password" name="password" matInput type="password" ngModel required>
      </mat-form-field>
      <button
        class="submit-btn"
        color="primary"
        mat-raised-button
        type="submit"
        [disabled]="!form.valid"
        (click)="onSubmit()">
        Log in
      </button>
    </form>
  </mat-card-content>
</mat-card>
